@media only screen and (min-width: 45em) {
    .navigation li:first-child { display: none;	}
      .navigation li { display: inline-block;}	
      .navigation li a { color: rgb(255, 255, 255);}
  }


@media (max-width:800px) {
   
    .forecast {
        display: none;
    }

}

@media (max-width:800px) {

    .weathersummary {
        background-color: #000000;
        width: 15rem;
        height: auto;
        position: relative;
        top: 30%;
        left: 5%;
        text-align: center;
    }
}

@media (max-width:800px) {
    article img {
        float: center;
        width: 200px;
        height: 100px;
        margin: 5px;
        
    }
}
@media (max-width:800px) {
    .contactinfo img {
        float: center;
        width: 200px;
        height: 100px;
        margin: 5px;
    }
}