* {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #e7ffed;
    }

table#t01 tr:nth-child(6) :first-child{
    font-style: italic;
}

table#t01 tr:nth-child(5) :nth-child(3){
    background-color: #286068b6;
}


table#t01 tr:nth-child(9) {
    background-color:#55b4c0;
}



table, td {
    border: 1px solid black;
    }
    
    th {
    width: 600px;
    background-color: #55b4c0;
    font-size: 40px;
    text-align: center;
    }
    
    tfoot tr {
    background-color:  #55b4c0;
    }
    
    tr {
    background-color: #7fb9c2
    }

        
